.container {
	margin: 1rem 0;

	.placeContent {
		padding: 0;

		.placeImage {
			width: 100%;
			height: 12.5rem;
			margin-right: 1.5rem;

			img {
				width: 100%;
				height: 100%;
			}

			@media (min-width: 768px) {
				& {
					height: 20rem;
				}
			}
		}

		.placeInfo {
			padding: 0.5rem;
			text-align: center;

			h2,
			h3 {
				margin: 0 0 0.5rem 0;
			}

			p {
				margin: 0;
			}

			@media (min-width: 768px) {
				& {
					padding: 1rem;
				}
			}
		}

		.placeActions {
			padding: 0.5rem 1rem;
			text-align: center;
			border-top: 1px solid #ccc;

			button,
			a {
				margin: 0.5rem;
			}

			@media (min-width: 768px) {
				& {
					padding: 1rem;
				}
			}
		}
	}
}

.modalContent {
	padding: 0;
}

.modalActions {
	text-align: right;
}

.mapContainer {
	height: 15rem;
	width: 100%;

	@media (min-width: 768px) {
		& {
			height: 20rem;
		}
	}
}

.btn {
	margin-right: 1rem;
}
