.container {
	z-index: 100;
	position: fixed;
	top: 13vh;
	left: 10%;
	width: 80%;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 8px;

	.header {
		padding: 1rem 0.5rem;
		background: #2a006e;
		color: white;

		h2 {
			margin: 0.5rem;
		}
	}

	.content {
		padding: 1rem 0.5rem;
	}

	.footer {
		padding: 1rem 0.5rem;
	}

	@media (min-width: 768px) {
		& {
			left: calc(50% - 20rem);
			width: 40rem;
		}
	}
}

.modalEnter {
	transform: translateY(-10rem);
	opacity: 0;
}

.modalEnterActive {
	transform: translateY(0);
	opacity: 1;
	transition: all 200ms;
}

.modalExit {
	transform: translateY(0);
	opacity: 1;
}

.modalExitActive {
	transform: translateY(-10rem);
	opacity: 0;
	transition: all 200ms;
}
